body {
  background: rgb(102, 97, 97);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.clock-holder {
  width: 100%;
  background: rgb(102, 97, 97);
  border: solid #000000 2px;
  border-radius: 10px;
  margin: 30px auto;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.stopwatch {
  padding: 60px 0px;
  text-align: center;
}
.stopwatch span{
  background:#ffffff;
  color: rgb(12, 12, 12);
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  margin-right: 10px ;
  border: solid rgb(59, 59, 59) 3px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 100px;
  color: #312f2f;
  border: 2px solid #141414;
  border-radius: 5px;
  transition: background 1s;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.stopwatch .stopwatch-btn-stop:hover,
.stopwatch .stopwatch-btn-wait:hover{
  background: #C85454;
  border: 2px solid #C85454;
  color: #fff;
}
.stopwatch .stopwatch-btn-reset:hover {
  background: #ff0000;
  border: 2px solid #ff0000;
  color: #fff;
}
.stopwatch .stopwatch-btn-start:hover {
  background: #383d3d;
  border: 2px solid #383d3d;
  color: #fff;
}